<% include partials/header %>


        <title>Demo APp</title>
        <link rel="stylesheet" href="app.css">

        <h1>You fell in love with : <%= thingVar %> </h1>
        <p>ini file love.ejs</p>
        
<% include partials/footer %>