<h1>Friends goes here</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% });%>

<form action="/addfriend" method="POST">
    <input type ="text" name ="newNameFriend" placeholder = "name">
    <button>nambah teman</button>
</form>